---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <div class="prose dark:prose-invert flex min-w-full flex-col items-center justify-center" style={{ minHeight: 'calc(100vh - 4rem)' }}>
    <h1>404</h1>
    <p>Could not find requested resource</p>
    <a href="/">Return Home</a>
  </div>
</Layout>
