---
import '@/styles/global.css';

import Font from 'astro/components/Font.astro';
import { ClientRouter } from 'astro:transitions';

import Background from '@/components/Background.astro';
import Footer from '@/components/layouts/Footer.astro';
import Header from '@/components/layouts/Header.astro';

interface Props {
  theme?: {
    isActive?: boolean;
    focus?: boolean;
    dark1?: string;
    dark2?: string;
    light1?: string;
    light2?: string;
  };
}
const { theme = {} } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-slate-900 font-sans">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <Font cssVariable="--font-rubik" />
    <Font cssVariable="--font-neon" />
    <link rel="preconnect" href="https://net.tsuni.dev" />
    <script>
      addEventListener('load', () => {
        document.documentElement.classList.remove('noAnimate');
      });
    </script>
    <ClientRouter />
    <title>Tsuni!</title>
  </head>
  <body>
    <Header />
    <Background {...theme} />
    <slot />
    <Footer />
  </body>
</html>
