---
// import NowPlayingIcon from "../components/NowPlayingIcon";
import logo from '@images/reallogo.png';
import { Image } from 'astro:assets';

import Outline from '@/assets/logooutline.svg';
import DarkToggle from '@/components/DarkToggle.astro';

const currentPath = Astro.url.pathname;

const links = [
  { name: 'Home', href: '/', icon: false },
  { name: 'Blog', href: '/posts', icon: false },
  { name: 'Uses', href: '/uses', icon: false },
];
---

<header class="fixed top-0 right-0 left-0 z-50 px-3 py-2 text-white">
  <div class="container mx-auto flex flex-row flex-wrap items-center justify-between gap-2 px-4 pt-0 text-black sm:flex-nowrap dark:text-white">
    <div class="h-12 p-0">
      <a href="/" class="group grid h-12 w-max place-items-center leading-none">
        <Outline
          width="200"
          height="50"
          fill="currentColor"
          class="col-end-1 row-end-1 text-white opacity-50 transition-opacity group-hover:opacity-100 dark:text-black"
        />
        <Image src={logo} alt="Tsuni logo" class="z-10 col-end-1 row-end-1" loading="eager" width="200" height="50" quality={50} />
      </a>
    </div>
    <div class="flex-grow"></div>
    <nav>
      <ul
        class="bg-bkg/30 header-link-group inset-shadow-accent/40 flex h-10 flex-row items-stretch justify-around gap-2 rounded-lg p-0.5 inset-shadow-xs"
      >
        {
          links.map(link => {
            const isActive = currentPath === link.href;
            return (
              <li class:list={['header-link group relative shadow-none transition-shadow hover:shadow-lg active:shadow-none', { active: isActive }]}>
                <a
                  href={link.href}
                  class:list={[
                    'inset-shadow-accent flex h-full items-center gap-2 rounded-md px-2 inset-shadow-none transition-[translate,background,box-shadow] group-hover:-translate-y-1.5 group-hover:bg-gray-200 group-hover:inset-shadow-xs group-active:translate-y-0 group-active:bg-gray-300 dark:group-hover:bg-gray-700 dark:group-active:bg-gray-700',
                    { 'bg-gray-200 dark:bg-gray-700': isActive },
                  ]}
                >
                  {/* {link.icon && <NowPlayingIcon />} */}
                  {link.name}
                </a>
              </li>
            );
          })
        }
      </ul>
    </nav>
    <DarkToggle />
  </div>
</header>

<style is:global>
  .header-link-group:hover .header-link:not(:hover) a {
    background: transparent;
  }
  .header-link::before {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 6px;
    background: transparent;
  }
  .header-link:hover::before {
    background: var(--color-gray-300);
  }
  .dark .header-link:hover::before {
    background: var(--color-gray-800);
  }
</style>

<script>
  function scrollHeader() {
    const header = document.querySelector('header');
    if (header) {
      if (window.scrollY > 0) {
        header.classList.add('scrolled');
      } else {
        header.classList.remove('scrolled');
      }
    }
  }
  document.addEventListener('scroll', scrollHeader);

  document.addEventListener('astro:page-load', () => {
    scrollHeader();
  });
</script>

<style>
  header {
    transition: all 0.2s ease-out;
    z-index: 100;

    &.scrolled {
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
      background: hsl(var(--color-bkg) / 100);
      backdrop-filter: blur(12px);
    }
  }
</style>
