---
interface Props {
  class?: string;
}

const { class: className, ...rest } = Astro.props;
---

<div class:list={['bg-bkg shadow-i-sm m-2 rounded-md p-2 md:p-4', className]} {...rest}>
  <slot />
</div>
