---
interface Props {
  class?: string;
}

const { class: className, ...rest } = Astro.props;
---

<div class:list={className} {...rest}>
  <div class="border-bkg ring-accent group relative block h-52 w-full overflow-hidden rounded-xl border-2 shadow-lg transition-transform duration-200 hover:scale-105 hover:ring-4">
    <slot />
  </div>
  <div class="can-hover:hidden">
    <slot name="noHover" />
  </div>
</div>
