@import "tailwindcss";

@layer base {
  :root {
    --color-bkg: 250deg 100% 98%; // violet-200
    --color-content: 222deg 47% 11%; // slate-900
    --color-accent: 255deg 92% 76%; // violet-400

    &.dark {
      --color-bkg: 222deg 47% 11%; // slate-900
      --color-content: 210deg 40% 96%; //slate-100
      --color-accent: 258deg 90% 66%; // violet-500
    }
  }
}

@layer music {
  :root {
    --color-progress-light: var(--colors-pink-400);
    --color-progress-dark: var(--colors-purple-500);
  }
}

html {
  scroll-behavior: smooth;

  &.noAnimate {
    scroll-behavior: auto;
  }
}

@-moz-document url-prefix() {
  html {
    scroll-behavior: auto;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
section {
  overflow-wrap: break-word;
  scroll-margin-top: 6rem;
}

.visible-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  &:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
  }
}

header {
  transition: all 0.2s ease-out;
  z-index: 100;

  &.scrolled {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    background: hsl(var(--color-bkg) / 100);
  }
}

body,
#__next {
  position: relative;
}

.noAnimate * {
  animation-duration: 0s !important;
  transition-duration: 0s !important;
}

:focus-visible {
  outline: 2px solid hsl(var(--colors-purple-400));
}

nav.scrollspy li {
  opacity: 0.5;
  transition: opacity 0.2s;
  &.active {
    opacity: 1;
  }
}

.prose {
  p::selection {
    color: white;
    background: hsl(var(--color-accent));
  }
  img {
    border-radius: 0.5rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  }
  pre {
    transition: background-color 0.2s, color 0.2s;
    background-color: var(--shiki-light-bg);
    color: var(--shiki-light);
    * {
      transition: background-color 0.2s, color 0.2s;
      color: var(--shiki-light);
    }
  }
}

.dark .prose pre {
  background-color: var(--shiki-dark-bg);
  color: var(--shiki-dark);
  * {
    color: var(--shiki-dark);
  }
}