.articleGrid {
  display: block;
}

.articleWide {
  grid-column: wide-start / wide-end;
}

.articleContent {
  grid-column: content-start / content-end;
}

.articleToc {
  display: none;
}

@media (min-width: 768px) {
  .articleGrid {
    display: grid;
    grid-template-columns: [wide-start] 1fr [content-start] minmax(0, 50rem) [content-end toc-start] minmax(5rem, 15rem) [toc-end] 1fr [wide-end];
    grid-gap: 0.5rem;
  }

  .articleToc {
    display: block;
    grid-column: toc-start / toc-end;
  }
}