@import "tailwindcss";
@config "../../tailwind.config.ts";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --theme-bkg: hsl(250deg 100% 98%); 
  --theme-content: hsl(222deg 47% 11%); 
  --theme-accent: hsl(255deg 92% 76%); 

  &.dark {
    --theme-bkg: hsl(222deg 47% 11%);
    --theme-content: hsl(210deg 40% 96%);
    --theme-accent: hsl(258deg 90% 66%);
  }
  color: var(--theme-content);
}
@theme inline {
  --color-bkg: var(--theme-bkg);
  --color-content: var(--theme-content);
  --color-accent: var(--theme-accent);
}

@theme {
  --font-sans: var(--font-rubik), system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-mono: var(--font-neon), SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  --animate-bounce-slow: bounce 2s infinite;
  --animate-fade-up: fadeUp 0.5s cubic-bezier(.34, 0, .44, 1.76) forwards;
  --shadow-i-sm: 0px 0px 5px 0px #00000005, 0px 2px 10px 0px #00000002, inset 0px 0px 5px 0px hsla(0,0%,100%,.25);
  --shadow-i-md: 0px 0px 15px 0px #00000006, 0px 2px 30px 0px #00000016, inset 0px 0px 5px 0px hsla(0,0%,100%,.25)
  --shadow-i-lg: 0px 0px 30px 0px #00000007, 0px 30px 60px 0px #00000027, inset 0px 0px 5px 0px hsla(0,0%,100%,.25)
}

@custom-variant can-hover {
  @media (hover: hover) {
    @slot;
  }
}

@custom-variant hover-none {
  @media (hover: none) {
    @slot;
  }
}

@layer music {
  :root {
    --color-progress-light: var(--color-pink-400);
    --color-progress-dark: var(--color-purple-500);
  }
}

@theme inline {
  --font-sans: var(--font-rubik);
  --font-mono: var(--font-neon);
}


html {
  scroll-behavior: smooth;

  &.noAnimate {
    scroll-behavior: auto;
  }
}

@-moz-document url-prefix() {
  html {
    scroll-behavior: auto;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
section {
  overflow-wrap: break-word;
  scroll-margin-top: 6rem;
}

.visible-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  &:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
  }
}

body,
#__next {
  position: relative;
}

.noAnimate * {
  animation-duration: 0s !important;
  transition-duration: 0s !important;
}

:focus-visible {
  outline: 2px solid hsl(var(--color-purple-400));
}

.prose {
  p::selection {
    color: white;
    background: hsl(var(--color-accent));
  }
  img {
    border-radius: 0.5rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  }
  pre {
    transition: background-color 0.2s, color 0.2s;
    background-color: var(--shiki-light-bg);
    color: var(--shiki-light);
    * {
      transition: background-color 0.2s, color 0.2s;
      color: var(--shiki-light);
    }
  }

  .callout p {
    margin: 0;
    line-height: 1.75;
  }

  .callout .callout-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }
}

.dark .prose pre {
  background-color: var(--shiki-dark-bg);
  color: var(--shiki-dark);
  * {
    color: var(--shiki-dark);
  }
}
