img {
    max-width: 100%;
}

blockquote {
    margin-left: 2rem;
    padding-left: 5px;
    border-left: 4px solid #fff6;
    margin: 2rem unset;
}

pre,
code {
    background: #fff6;
    border-radius: 8px;
}

pre code {
    background: none;
}

td,
th {
    border: 2px solid #fff6;
    padding: 0 5px 0 5px;
}

table {
    border-collapse: collapse;
}


pre,
code,
kbd {
    background-color: var(--code-background-color);
    border-radius: 0.25rem;
    padding: 0.1rem 0.2rem;
}

pre {
    box-sizing: border-box;
    border-radius: 1rem;
    width: 100%;
    padding: 1rem;
    white-space: pre-wrap;
}

kbd {
    position: relative;
    border: 1px solid #4444;
    user-select: none;
    font-weight: 300;
    font-size: 0.9rem;

    bottom: 3px;
    box-shadow: 0 3px 0 #4444;
    transition-duration: 0.1s;

    &:active {
        bottom: 0px;
        box-shadow: 0 0 0 inherit;
        transition-duration: 0.1s;
    }
}


h2 {
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: lighter;
}

h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: lighter;
}

p {
    margin: 1.5rem 0;
}