---
interface Props {
  isActive?: boolean;
  focus?: boolean;
  dark1?: string;
  dark2?: string;
  light1?: string;
  light2?: string;
}

const { isActive = false, focus = false, dark1 = '#333333', dark2 = '#1a1a1a', light1 = '#f5f5f5', light2 = '#e0e0e0' } = Astro.props;
---

<div class="absolute inset-0 overflow-hidden">
  {/* Dark */}
  <div
    class="absolute inset-0"
    style={{
      background: `linear-gradient(90deg, ${dark1}, ${dark2}`,
    }}
  >
  </div>
  <div
    class:list={[
      'absolute inset-0 bg-gradient-to-r from-indigo-900 to-purple-950 transition-opacity duration-300',
      { 'opacity-0': isActive, 'opacity-100': !isActive },
    ]}
  >
  </div>
  {/* Light */}
  <div
    class:list={['absolute inset-0 transition-opacity duration-300 dark:opacity-0', { 'opacity-0': !isActive, 'opacity-100': isActive }]}
    style={{
      background: `linear-gradient(90deg, ${light1}, ${light2})`,
    }}
  >
  </div>
  <div
    class:list={[
      'absolute inset-0 bg-gradient-to-r from-pink-200 to-purple-300 transition-opacity duration-300 dark:opacity-0',
      { 'opacity-0': isActive, 'opacity-100': !isActive },
    ]}
  >
  </div>
  <div class:list={['bg-camo', { 'opacity-30 dark:opacity-80': !focus }, { 'opacity-0': focus }]}></div>
  <div class:list={['bg-dots absolute h-full w-full', { 'opacity-0': focus }]}></div>
</div>

<style>
  .opacityCircleOut {
    clip-path: circle(50% at 95% 10px);
  }
  .bg-dots {
    --dots-color: #7468871f;
    --dots-size: 1.5px;
    --dots-spacing: 10px;
    background-repeat: repeat;
    background: radial-gradient(#7468871f 1.5px, transparent 0), radial-gradient(#7468871f var(--dots-size), transparent 0);
    background-size:
      var(--dots-spacing) var(--dots-spacing),
      var(--dots-spacing) var(--dots-spacing);
    background-position:
      0 0,
      calc(var(--dots-spacing) / 2) calc(var(--dots-spacing) / 2);
  }

  .bg-camo {
    width: calc(100% + 376px);
    height: calc(100% + 376px);
    position: absolute;
    right: 0;
    top: 0;
    background-repeat: repeat;
    background: url('/images/bg-camo.png');
    transition: opacity 0.5s;
    animation: 20s flow-background-camo linear infinite;
  }

  .static {
    opacity: 0 !important;
  }

  @keyframes flow-background-camo {
    0% {
      transform: translateX(0px);
    }

    100% {
      transform: translateX(376px);
    }
  }

  @media (prefers-reduced-motion) {
    .camo {
      animation: none;
    }
  }
</style>
