---
interface Props {
  isActive?: boolean;
  focus?: boolean;
  dark1?: string;
  dark2?: string;
  light1?: string;
  light2?: string;
}

const { isActive = false, focus = false, dark1 = '#333333', dark2 = '#1a1a1a', light1 = '#f5f5f5', light2 = '#e0e0e0' } = Astro.props;
---

<div class="absolute inset-0 -z-10 overflow-hidden">
  {/* Dark */}
  <div
    class="absolute inset-0"
    style={{
      background: `linear-gradient(90deg, ${dark1}, ${dark2}`,
    }}
  >
  </div>
  <div
    class:list={[
      'absolute inset-0 bg-gradient-to-r from-indigo-900 to-purple-950 transition-opacity duration-300',
      { 'opacity-0': isActive, 'opacity-100': !isActive },
    ]}
  >
  </div>
  {/* Light */}
  <div
    class:list={['absolute inset-0 transition-opacity duration-300 dark:opacity-0', { 'opacity-0': !isActive, 'opacity-100': isActive }]}
    style={{
      background: `linear-gradient(90deg, ${light1}, ${light2})`,
    }}
  >
  </div>
  <div
    class:list={[
      'absolute inset-0 bg-gradient-to-r from-pink-200 to-purple-300 transition-opacity duration-300 dark:opacity-0',
      { 'opacity-0': isActive, 'opacity-100': !isActive },
    ]}
  >
  </div>
  <div class:list={['camo', { 'opacity-30 dark:opacity-80': !focus }, { 'opacity-0': focus }]}></div>
  <div class:list={['dots absolute h-full w-full', { 'opacity-0': focus }]}></div>
</div>

<style>
  .opacityCircleOut {
    clip-path: circle(50% at 95% 10px);
  }

  .dots {
    background-repeat: repeat;
    transform: translateY(var(--scrollY));
    background: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23746887' fill-opacity='0.15' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
  }

  .camo {
    width: calc(100% + 376px);
    height: calc(100% + 376px);
    position: absolute;
    right: 0;
    top: 0;
    background-repeat: repeat;
    background: url('/images/bg-camo.png');
    transition: opacity 0.5s;
    animation: 20s flow-background-camo linear infinite;
  }

  .static {
    opacity: 0 !important;
  }

  @keyframes flow-background-camo {
    0% {
      transform: translateX(0px);
    }

    100% {
      transform: translateX(376px);
    }
  }

  @media (prefers-reduced-motion) {
    .camo {
      animation: none;
    }
  }
</style>
