---
import type { MarkdownHeading } from 'astro';

interface Props {
  class?: string;
  headings: MarkdownHeading[];
}

const { class: className, headings, ...rest } = Astro.props;
---

<nav class:list={['scrollspy bg-bkg/90 shadow-i-sm top-20 self-baseline rounded-xl p-4 transition-colors md:sticky md:p-6', className]} {...rest}>
  <ul class="flex flex-col">
    {
      headings.map(({ depth, text, slug }) => (
        <li class:list={[{ 'mt-2': depth === 1, 'ml-4 text-sm': depth === 2, 'ml-8 text-xs': depth === 3, 'ml-12 text-xs': depth === 4 }]}>
          <a href={`#${slug}`}>{text}</a>
        </li>
      ))
    }
  </ul>
</nav>

<script>
  import scrollSpy from 'simple-scrollspy';
  scrollSpy('.scrollspy', {
    sectionClass: 'section[id]',
    offset: 400,
  });
</script>

<style is:global>
  nav.scrollspy ul li a {
    opacity: 0.5;
    transition: opacity 0.2s;
    &.active {
      opacity: 1;
    }
  }
</style>
